.dashboard {
  .dashboard-title {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    color: #B3CCE6;
    height: 4em;
    background: #517fa4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #517fa4 , #243949); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #517fa4 , #243949); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Superclarendon, Open Sans;
    text-align: center;
    margin: 2% auto;
  }
}
.eventList {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-flow: column;
  justify-content: center;
  .event-list-entry-container {
    border-radius: 5px;
    box-shadow: 0 3px 10px 0 #8fc1d4;
    margin: 1em 10% 1em 10%;
    line-height: 25px;
    border: solid .5px gray;
  .event-title {
    color: #154b66;
    text-align: center;
  }
    .event-list-entry {
      display: flex;
      padding: 0 2em 2em 2em;
      align-content: center;
      flex-flow: column;
    }
  }
}
